 
 body {
        background-color: #392f5a;
 }


/*----------------------------------Navbar-------------------------------*/

nav {
    background-color: #392f5a;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*----------------------------------Navbar-logo-------------------------------*/

nav a {
    color: #fff8f0;
    text-decoration: none;
}

.logo {
    padding: 16px;
    font-size: 24px;
    border: none;
    display: inline-block;
}

/*----------------------------------Navbar-right-------------------------------*/

.nav-right {
    display: inline-block;
}

/*----------------------------------Navbar-Inspiration-dropdown------------*/

.drop-menu {
  margin-left: 24px;
  color: #fff8f0;
  padding: 16px;
  font-size: 16px;
  border: none;
  text-decoration: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.35);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #fff8f0;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}

/*----------------------------------Rest of Navbar-------------------------------*/

.nav-home {
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block;
}

.nav-services {
    margin-left: 24px;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block; 
}

.nav-about {
    margin-left: 24px;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block; 
}

.nav-contact {
    margin-right: 24px;
    margin-left: 24px;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: inline-block; 
}

/*----------------------------------Hero-image-------------------------------*/

.hero-image {
    background-image: url("/images/hero-one.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    height: 600px;
    padding: 30px;
}


/*----------------------------------Startpage-messages-Budskap-------------------------------*/

.message-first {
    color:#fff8f0;
    width: 35%;
    font-size: 20px;
}

.message-first h2 {
    margin-top: 0;
}

.message-second {
    color:#fff8f0;
    width: 35%;
    font-size: 20px;
    display: flex;
    align-items: center;
}

.message-first-text {
    color:#fff8f0;
    padding: 5px;
    width: 80%;
    margin: 24px auto;
    text-align: center;
}

.message-second-text {
    color:#fff8f0;
    padding: 5px;
    width: 80%;
    margin: auto;
    text-align: center;
    margin-bottom: 24px;
}

/*----------------------------------Startpage-Testimonials-------------------------------*/

#testimonials-container {
    color:#fff8f0;
}

#testimonials-container h3{
    width: 30%;
    margin: 0 auto;
    text-align: center;
}

#testimonials-container > div {
    color:#fff8f0;
    font-style: italic;
    width: 30%;
    margin: 0 auto;
}

/*----------------------------------cta-button------------------------------*/

.cta-button {
    margin: 32px;
    padding: 24px 40px;
    font-size: 32px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    outline: none;
    color:#fff8f0;
    background-color: #ff8811;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.cta-button:hover {
    background-color: #3e8e41
}

.cta-button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.button-container {
    display: flex;
    justify-content: center;
}

/*----------------------------------footer-------------------------------*/

.footer-container {
    background-color: #392f5a;
    color:#fff8f0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    padding-top: 16px;
}

.footer-container i {
    color:#fff8f0;
}

.description {
   margin-left: 16px;
    display: inline-block;
    width: 15%;
}

.acclaims {
    margin: 20px;
    display: inline-block;
}

.acclaims img {
    width: 80px;
}

.social-media {
    width: 15%;
    display: inline-block;
}

.social-media a {
    margin: 10px;
    display: inline-block;
}

.footer-contact {
display: inline-block;
width: 15%;
}

/*----------------------------------tjanster-services-------------------------------*/

.hero-image h2 {
    color: #fff8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.services-container div {
    color:#444444;
    display: flex;
  grid-gap: 24px;
  width: 64%;
  border-radius: 25px;
}

.services-container-one {
    margin: 0 auto;
    margin-top: 24px;
}
    
.services-container-two {
    margin: 0 auto;
    margin-top: 24px;
}

.column {
    background-color: #9dd9d2;
    text-align: center;
    height: 248px;
    width: 248px;
}

/*----------------------------------About-ommig-------------------------------*/

.about-container {
    color: #444444;
}

.about-picture img {
    margin-top: 32px;
    margin-left: 32px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.about-text-one {
    display: inline-block;
    width: 30%;
    margin-left: 308px;
    background-color: #9dd9d2;
    text-align: center;
    border-radius: 25px;
}

.about-text-two {
    width: 30%;
    margin: 40px;
    margin-left: 316px;
    background-color: #9dd9d2;
    padding: 8px;
    text-align: center;
    border-radius: 25px;
}

.about-text-three {
    display: inline-block;
    width: 30%;
    background-color: #9dd9d2;
    padding: 8px;
    text-align: center;
    border-radius: 25px;
}

.about-philosophy {
    display: inline-block;
    text-align: center;
    width: 552px;
    height: 552px;
    border-radius: 50%;
    background-color: #9dd9d2;
    align-items: center;
    margin-left: 376px;
} 

/*----------------------------------Contact-form-Kontakt-------------------------------*/

.form-section {
    background-color: #fff8f0;
    padding: 32px;
    text-align: center;
}

.text-input {
    width: 20%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 8px;
}

#comment {
    display: block;
    margin: 0 auto;
    margin-bottom: 24px;
    width: 24%;
    height: 184px;
    border: 1px solid black;
    border-radius: 8px;
}

.radio-section {
    padding-top: 32px;
}

/*----------------------------------Theory-Teori-------------------------------*/

.theory-container {
    color: #444444;
    display: flex;
    justify-content: center;
}

.theory-container > div {
    margin: 16px;
    width: 25%;
    height: auto;
    border-radius: 25px;
} 

/*----------------------------------Tools-Verktyg-------------------------------*/